@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --color:linear-gradient(0deg,transparent, rgb(184, 184, 184, .2));

}



body{
    width:100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background:#1f2025 ;
    font-family: 'Poppons',sans-serif;
}
.book{
    width:92%;
    height: 90%;
     display:flex;
    /* ek line e book-left book-right near jnno */
    /* border:1px solid #fff;  */
}

.book .left, .right{
width: 80%;
position:relative;
height:100%;
/* border:1px solid #fff; */
} 

.book .left{
    width: 20%;
    background: #2e3037;
}

.book .left img
{width:100%;
    height: 60%;
}

.book .left .play{
    position: relative;
    left:44%;
    top: -22px;
    background: #fd6565;
    width:40px;
     height: 35px; 
     display:flex;
     align-items:center;
     justify-content: center;
    border-radius: 50%; 
    color:#fff;
    box-shadow: 0px 0px 20px #fd6565;
    transition: .3s linear;
    cursor: pointer;

}


.book .left .play:hover{
    transform: rotate(360deg);

}

.book .left .cont{
color:#fff;
padding: 0 20px;

}

.book.left.cont p{
font-size: 12px;
margin-bottom: 20px;
}

.book.left.cont h6{
    font-size: 15px;
    /* margin-bottom: 20px; */
    }

.book .right{
    padding:10px 40px;
    background: unset;
}  

.book .right:before{
   position:absolute;
   content:'';
   width:95%;
   height:250px;
   /* border: solid #fff; */
   background: url(image/left4.jpg) no-repeat center -30px/cover;
   z-index:-10;
   border-radius: 20px;
} 


.book .right:after{
    position:absolute;
    content:'';
    width:95%;
    height:200px; 
    top:0;
    /* border: solid #fff; */
     background: linear-gradient(0deg , transparent,#1f2025);
    z-index:-10;
    border-radius: 20px;
 } 
 

 .book .right .head_time
{
    position:relative ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

} 
.book .right .head_time::before {
   content: '';
   position: absolute;
   width: 150px;
   height: 255px;
   top: 0;
   background: linear-gradient(90deg, transparent, #1f2025);
right: -25px;
z-index: -9;

}

/* .book .right .head_time::after {
    content: '';
    position: absolute;
    /* width: 170px; */
    /* height: 250px;
    top: 0;
    background: linear-gradient(270deg,transparent,#1f2025);
left: -25px;
 z-index: -9;
 
 } */ */

 .book .right .head_time h1 {
   /* color: #fff; */
   font-weight: 600;
 }

 .book .right .head_time .time {
    color: #fff;
   display: flex;
   align-items: center;
  }
  .book .right .head_time .time  h6{
   font-size: 13px;
   margin-right: 15px;
  }

  .book .right .head_time .time  h6 i{
    
    margin-right: 5px;
    box-shadow: 0px 0px 20px #99dd23;
   }
   .book .right .head_time .time button{
    
   padding: 4px 10px;
   border-radius: 10px;
   border: 2px solid #fd6565;
   color:#fff;
   background: none;
   font-size: 11px;
   cursor: pointer;
   font-weight: 600;
   transition: .3s linear;

   }



   .book .right .head_time .time button:hover{
    
  background:#fd6565 ;

 
    }
   
  
  
 .book .right .date_type{
    position: relative;
    display:flex ;
    align-items: center;
    justify-content: space-between;
 }
 .book .right .date_type .left_curd, .right_curd{
width:45%;
border:1px solid ;
;
 }
 .book .right .date_type::before{
    content: '';
    position: absolute;
    width: 102%;
    height: 215px;
    left:-15px;
    top:0;
    z-index: -9;
    background: linear-gradient(180deg,transparent,#1f2025);
 }

.book .right .left_curd .title

{
    color: #fff;
}

.book .right .left_curd .crd{
    width:100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-top:1px solid rgb(184, 184, 184, .2);
    padding: 5px 0;
}


.book .right .left_curd .crd::-webkit-scrollbar{
   height:3px;
   background: rgbrgb(184, 184, 184, .2);
}
.book .right .left_curd .crd::-webkit-scrollbar-thumb{
    height:3px;
    background: rgbrgb(184, 184, 184, .5);
 }
 
 .book .right .left_curd .crd li{
 list-style: none;
 color: #fff;
 min-width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 cursor: pointer;
 }

 .book .right .left_curd .crd li h6:nth-child(2){
   background: transparent;
   border-radius: 50%;
   width:20px;
   height: 20px;
   transition: .3s linear;
   cursor: pointer;
  display:flex ;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
    }

    .book .right .left_curd .crd li h6:nth-child(2):hover{
        background: #fd6565;

         }



.book .right .left_curd .title

{
    color: #fff;
}

.book .right .crd{
    width:100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    margin-top: 5px;
    border-top:1px solid rgb(184, 184, 184, .2);
    padding: 5px 0;
}


.book .right .crd::-webkit-scrollbar{
   height:3px;
   background: rgbrgb(184, 184, 184, .2);
}
.book .right .crd::-webkit-scrollbar-thumb{
    height:3px;
    background: rgb(184, 184, 184, .5);
 }
 
 .book .right .crd li{
 list-style: none;
 color: #fff;
 min-width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 cursor: pointer;
 }

 .book .right .crd li h6:nth-child(2){
   background: transparent;
   border-radius: 50%;
   width:20px;
   height: 20px;
   transition: .3s linear;
   cursor: pointer;
  display:flex ;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
    }

    .book .right .crd li h6:nth-child(2):hover{
        background: #fd6565;

         }

 .book .right .date_type .right_card li h6:nth-child(2)
 {
   
    border-radius: 8px;
    width:unset;
    height: unset;
    padding: 1px 5px 0 5px;
 }  
 
 
/* js */

.h6_active
{
    background:#fd6565 !important ;

}

/* screen start */

.screen{
    position: relative;
     width:100%;
     border-top:3px solid #fd6565;
     margin-top: 50px;
     border-radius: 20%;
     overflow: hidden;
     box-shadow:inset 0px 10px 20px var(--color);
    text-align: center;
    padding-top:15px ;
    color:#fff;
    letter-spacing:5px;
    font-size: 18px;
    height: 100px;

}


.book .right .screen::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(184, 184, 184, .6);
    top:-20px;
    right: -20px;
    left: 0;
}

.book .right .chair
{
    width:95%;
    /* border:1px solid #fff; */
    /* eita kata jabe, border */
    margin:auto;
   
}

.book .right .chair .row{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.book .right .chair .row li{
   position: relative;
   width: 25px;
   height: 15px;
   background: rgb(184, 184, 184, .3);
   list-style: none;
   border-radius: 5px;
   cursor: pointer;
   transition: .3s linear;
   font-size: 7px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-weight: 600;


}

.book .right .chair .row li:before{
   content: '';
   position: absolute;
   width: 100%;
   height: 5px;
   background: rgb(184, 184, 184, .1);
   bottom: -8px;
   border-radius: 10px;

 }
 

.book .right .chair .row li:hover{
   background: greenyellow; 
   color:#000;
}

.book .right .chair .row li:nth-child(6){
  margin-right: 30px;
 }

 .book .right .chair .row li:nth-last-child(6){
    margin-left: 30px;
   }

   .book .right .chair .row span{
color:#fff;
    font-size:11px;
    font-weight: 600;
   }

 /* java class for colors   */

 .book .right .chair .booked
 {
background: #fd6565 !important;

 }


 .book .right .chair .selected
 {
background: greenyellow !important;
color: #000 !important;

 } 
    
  
.book .right .details
{
width:100%;
margin-top: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.book .right .details .details_chair
{
    display: flex;
    align-items: center;
}

.book .right .details .details_chair li
{
   position: relative;
   list-style: none;
   border-radius: 5px;
   transition: .3s linear;
   margin:0  25px;
   font-weight: 600;
   color: rgb(184, 184, 184, .3);
}

.book .right .details .details_chair li::before
{
 position:absolute ;
 content: '';
 width: 20px;
 height: 15px;
 background: rgb(184, 184, 184, .3);
border-radius: 5px;
left: -30px;
top: 2px;
transition: .3s linear;
}

.book .right .details .details_chair li::after
{
 position:absolute ;
 content: '';
 width: 20px;
 height: 4px;
 background: rgb(184, 184, 184, .1);
border-radius: 10px;
left: -30px;
bottom: -4px;

transition: .3s linear;
}



.book .right .details .details_chair li:nth-child(2)::after
{

 background: #a12424;
}
.book .right .details .details_chair li:nth-child(2)::before
{

 background: #a12424;
}


.book .right .details .details_chair li:nth-child(3)::after
{

 background: greenyellow;
}
.book .right .details .details_chair li:nth-child(3)::before
{

 background: greenyellow;
}
    
 .book .right .book_tic 
 {
    position: absolute;
    right: 5%;
    height: 50px;
    width: 50px;
    /* top:20px; */
   /* bottom:5px; */
    padding: 8px 9.5 px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #a12424;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .3s linear
 }  


 .book .right .book_tic:hover 
 {
   background:transparent;
   border-color: #a12424;
   color: #99dd23;
 } 





      
              

  

 





    
